<div class="page-home">

  <section id="home">
    <section-title>Home</section-title>
    <section-body>
      <div class="row">
        <div class="col-md-8">
          <iframe width="640" height="360" src="//www.youtube.com/embed/_5VjPZ4CYMg" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4">
          The SolarSurfer is a solar-powered, robotic marine vessel built with a surfboard, off-the-shelf components, and open-source hardware and software. It is designed to cross oceans, measure ocean data, and share that data with the world. The first SolarSurfer is currently on a mission from Los Angeles to Monterey, CA. Check out the live position and data on this page!
        </div>
      </div>
    </section-body>
  </section>

  <divider src="/img/SolarSurfer-Vertical.jpg"></divider>

  <section id="map">
    <section-title>Map</section-title>
    <section-body>body</section-body>
  </section>

  <divider src="/img/SolarSurfer-Ocean.jpg"></divider>

  <section id="graph">
    <section-title>Graph</section-title>
    <section-body>body</section-body>
  </section>

  <divider src="/img/SolarSurfer-Remote.jpg"></divider>

  <section id="design">
    <section-title>Design</section-title>
    <section-body>body</section-body>
  </section>

  <divider src="/img/SolarSurfer-ThreeAmigos.jpg"></divider>

  <section id="api">
    <section-title>API</section-title>
    <section-body>body</section-body>
  </section>

  <divider src="/img/SolarSurfer-Seaweed.jpg"></divider>

</div>
